$displays: none, inline, inline-block, block, table, table-row, table-cell, flex, inline-flex !default;

@each $display in $displays {
  .d-#{$display} {
    display: #{$display} !important;
  }
}

@each $breakpoint in map-keys($mq-breakpoints) {
  @include mq($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $mq-breakpoints);

    @each $value in $displays {
      .d#{$infix}-#{$value} { display: $value !important; }
    }
  }
}

@media print {
  @each $value in $displays {
    .d-print-#{$value} { display: $value !important; }
  }
}

