@import "../../node_modules//sass-mq/mq";

@import "variables";
@import "fonts";
@import "functions";
@import "mixins";
@import "tables";
// @import "extends";
// @import "animation";
// @import "grid";
// @import "spacing";
// @import "displays";
// @import "text";
// @import "flex";
// @import "borders";
// @import "nav";
// @import "forms";
// @import "libraries";
// @import "globals";

.example {
  background-color: red;
  display: grid;
  display: flex;
}
a {
  transform: scale(0.5);
}
::placeholder{
  background: red;
}
